<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BridgethingAppleMusicGlue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>BridgethingCompanion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>BridgethingGateway.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>BridgethingGlue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>BridgethingLyrics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>BridgethingSchema.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>BridgethingTidalGlue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
	</dict>
</dict>
</plist>
